{% extends 'base_htmls/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block header %}Главная страница{% endblock %}

{% block content %}
    {% for plant in plants %}
        <div>
            {% if plant.show %}
                <h3>Имя: {{ plant.name }}</h3>
                <img src="{% static plant.image %}" alt="{{ plant.name }}" width="200" height="200">
                
                <h4>Параметры (список):</h4>
                <ul>
                    {% for param in plant.params_list %}
                        <li>{{ param }}</li>
                    {% endfor %}
                </ul>
                
                <h4>Параметры (словарь):</h4>
                <ul>
                    {% for key, value in plant.params_dict.items %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Информация о растении "{{ plant.name }}" скрыта.</p>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}