<table border="1">
    <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество растений</td>
            <td>{{ project_stats.total_plants }}</td>
        </tr>
        <tr>
            <td>Дата создания</td>
            <td>{{ project_stats.creation_date }}</td>
        </tr>
        <tr>
            <td>Автор</td>
            <td>{{ project_stats.author }}</td>
        </tr>
    </tbody>
</table>