{% extends 'base_htmls/base.html' %}
{% load static %}

{% block title %}Советы по уходу{% endblock %}

{% block header %}Советы по уходу за растениями{% endblock %}

{% block content %}
    <h2>Полезные советы</h2>
    <ul>
        <li>
            <strong>Полив:</strong> Убедитесь, что вы поливаете растения в соответствии с их потребностями. 
            Например, кактусы требуют редкого полива, а монстера — обильного.
        </li>
        <li>
            <strong>Освещение:</strong> Размещайте растения в зависимости от их потребностей в свете. 
            Фикусы любят яркий свет, а папоротники предпочитают тень.
        </li>
        <li>
            <strong>Влажность:</strong> Некоторые растения, например, монстера, любят высокую влажность. 
            Используйте увлажнитель воздуха или регулярно опрыскивайте листья.
        </li>
        <li>
            <strong>Удобрения:</strong> Подкармливайте растения в период активного роста (обычно весной и летом). 
            Используйте удобрения, подходящие для конкретного вида растений.
        </li>
        <li>
            <strong>Пересадка:</strong> Пересаживайте растения каждые 1-2 года, чтобы обновить почву 
            и дать больше места для роста корней.
        </li>
    </ul>
{% endblock %}